<bottom-nav-wrapper bottomNavHeight="60px" topNavHeight="55px" bottomNavBreakpoint="600px">

  <!-- Top nav content -->
  <top-nav-wrapper>
    <mat-card class="header">
      <span class="title" routerLink="/">App Name</span>
      <span routerLink="/like">Like</span>
      <span routerLink="/watch">Watch</span>
    </mat-card>
  </top-nav-wrapper>

  <!-- Main content -->
  <application-content>

    <div style="text-align: center">
      <span class="card-span">
        <mat-card>
          <mat-slide-toggle (click)="toggleDarkMode()">Dark Theme</mat-slide-toggle>
          <mat-slide-toggle (click)="toggleColorfulMode()">Colorful Theme</mat-slide-toggle>
        </mat-card>
      </span>
    </div>

    <router-outlet></router-outlet>

  </application-content>


  <!-- Bottom nav -->
  <bottom-nav>
    <bottom-nav-item link="" [exact]="true" label="home">
      home
    </bottom-nav-item>
    <bottom-nav-item [link]="'like'" [exact]="true" label="like">
      thumb_up
    </bottom-nav-item>
    <bottom-nav-item link="watch" [exact]="true" label="watch">
      watch_later
    </bottom-nav-item>
  </bottom-nav>

</bottom-nav-wrapper>
