<bottom-nav-container>

  <bottom-nav-content>
    <mat-toolbar>An example for a bottom nav bar</mat-toolbar>

    <router-outlet></router-outlet>

  </bottom-nav-content>

  <bottom-nav>
    <bottom-nav-item link="" [exact]="true" label="home">
      home
    </bottom-nav-item>
    <bottom-nav-item link="like" [exact]="true" label="like">
      thumb_up
    </bottom-nav-item>
    <bottom-nav-item link="watch" [exact]="true" label="watch">
      watch_later
    </bottom-nav-item>
  </bottom-nav>

</bottom-nav-container>
