/* You can add global styles to this file, and also import other style files */
@import '../projects/ng-bottom-navigation/src/ng-bottom-navigation.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-home {
  p {
    display: flex;
  }

  img {
    width: 30vw;
    margin: auto;
  }
}
